/* fonts and global settings */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

html {  
    /* Set border-box as the global default */
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    /* Allow each element to override */
    box-sizing: inherit;
  }
body {
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
}
figure {
    margin: 0;
}
h1 {
    font-size: 1,42rem;
    font-weight: bold;
}
h2 {
    font-size: 1,42rem;
    font-weight: bold;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
}
h4 {
    font-size: 1,15rem;
    font-weight: bold;
}
p {
    font-size: 1rem;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
img {
    object-fit: cover;
}
/* header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header img {
    width: 140px;
    height: 66px;
}
nav {
    width: 27%;
    max-width: 780px;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

nav a {
    font-size: 1rem;
}
nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
main {
    display: flex;
    flex-flow: row wrap;
}
/* search bar section styles */
#search_bar {
    display: flex;
    flex-direction: column; 
    order: 1;
    width: 100%;
    flex-basis: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: row;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}
form i {
    background-color: #F2F2F2;
    font-size: 1rem;
    text-align: center;
}
input[type=search] {
    font-size: 1,15rem;
    font-weight: bold;
    border: none;
}
input[type=search]:focus {
    outline: none;
}
input::placeholder {
    color: black;
    font-size: 1,15rem;
    font-weight: bolder;
}
input[type=submit] {
    font-size: 1,15rem;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-radius: 0 18px 18px 0;
    border: 1px solid #0065FC;
}    
/* filters section styles */

#filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    order: 1;
    gap: 25px;
    max-width: 1200px;
    width: 100%;
    flex-basis: 100%;
    margin: 0 auto;
}
#filters h2 {
    font-size: 1,15rem;
    font-weight: bold;
}
#filters ul {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
#filters a {
    font-size: 1,15rem;
    font-weight: bold;
}
#filters li>i {
    font-size: 1,15rem;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
}
#filters li {
    border: 4px solid #F2F2F2;
    border-radius: 37px;
}
#filters p {
    width: 100%;
    flex-basis: 100%;
}

#filters p>i {
    font-size: 0,75rem;
    text-align: center;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}
#filters a:hover {
    color: #0065FC;
    background-color: #DEEBFF;
    border: 4px solid #DEEBFF;
    box-shadow: 2px 2px 2px black;
}


/* most popular section styles */
#most_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    order: 3;
    width:35%;
    flex-basis: 35%;
    max-width: 420px;
    margin: 0 auto;
}
#most_popular img {
    height:112px;
    width: 106px;
}
#most_popular figure {
    display: flex;
    flex-flow: row nowrap;
}
#most_popular figcapture {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

#most_popular ul {
    display: flex;
    flex-flow: row nowrap;
}

/* accomodations section styles */
#accomodations {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    order: 2;
    gap: 25px;
    width:65%;
    flex-basis: 65%;
    max-width: 780px;
    margin: 0 auto;
}
#accomodations h2, #accomodations>a {
    width: 100%;
    flex-basis: 100%;
}

#accomodations img {
    height: 95px;
    width: 195px;
}
#accomodation article {
    flex: 1 0 33%;
}
#accomodations figure {
    display: flex;
    flex-flow: column nowrap;
}
#accomodations figcapture {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
#accomodations ul {
    display: flex;
    flex-flow: row nowrap;
}
#accomodations>a {
    font-size: 1,15rem;
    font-weight: bold;
}

/* activities section styles */
#activities {
    display: flex;
    flex-direction: column;
    order: 4;
    width: 100%;
    flex-basis: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#activities img {
    width: 250px;
}
#activities div {
    display: flex;
    flex-flow: column wrap;
    gap: 35px;
    max-height: 390px;
}

/* footer styles */ 
footer>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
footer>div>* {
    flex: 1 1 0;
}

/* media queries */