/* fonts and global settings */

html {  
    /* Set border-box as the global default */
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    /* Allow each element to override */
    box-sizing: inherit;
  }
body {
    font-family: Raleway, sans-serif;
}

h1, h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 23px;
    font-weight: bold;
}
h4 {
    font-size: 26px;
    font-weight: bold;
}
p {
    font-size: 23px;
}

a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}

/* header styles */

/* search bar section styles */

/* filters section styles */

/* most popular section styles */

/* accomodation section styles */

/* activities section styles */

/* footer styles */ 

/* media queries */