/* fonts and global settings */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

html {  
    /* Set border-box as the global default */
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    /* Allow each element to override */
    box-sizing: inherit;
  }
body {
    font-family: Raleway, sans-serif;
    overflow-x: hidden;
}
h1q {
    font-size: 1,42rem !important;
    font-weight: bold;
}
h2 {
    font-size: 1,42rem;
    font-weight: bold;
}
h3 {
    font-size: 1rem;
    font-weight: bold;
}
h4 {
    font-size: 1,15rem;
    font-weight: bold;
}
p {
    font-size: 1rem;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}

/* header styles */
header {
    margin: 0;
    padding: 0px 110px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
header img {
    width: 140px;
    height: 66px;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
}
nav a {
    font-size: 1rem;
    padding:68px 30px 20px 30px;
}
nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* search bar section styles */
#search_bar {
    padding: 0 110px;
}
#search_bar p {
    line-height: 50%;
}
form {
    position: relative;
    width: 600px;
    height: 74px;
    line-height: 72px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    margin: 40px 0px 25px 0px;
}
form i {
    display: inline-block; 
    position: absolute;
    top: 0px;
    width: 72px;
    height: 72px;
    border: 1px solid #F2F2F2; 
    border-radius: 18px 0px 0px 18px;
    background-color: #F2F2F2;
    font-size: 1rem;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 25px;
}
input[type=search] {
    display: inline-block;
    position: absolute;
    top: 0; 
    left: 72px;
    width: 355px;
    font-size: 1,15rem;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    border: none;
}
input[type=search]:focus {
    outline: none;
}
input::placeholder {
    color: black;
    font-size: 1,15rem;
    font-weight: bolder;
}
input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 182px;
    font-size: 1,15rem;
    font-weight: bolder;
    color: white;
    background-color: #0065FC;
    margin: 0;
    border-radius: 0 18px 18px 0;
    border: 1px solid #0065FC;
}    
/* filters section styles */

#filters {
    padding: 5px 110px;

}
#filters h2 {
    float: left;
    line-height: 60px;
    font-size: 1,15rem;
    font-weight: bold;
    padding-right: 40px;
}

#filters a {
    display: inline-block;
    position: relative;
    top: 0;
    left: -84px;
    z-index: 2;
    font-size: 1,15rem;
    font-weight: bold;
    line-height: 66px;
    padding-left: 84px;
    padding-right: 30px;
    border: 4px solid #F2F2F2;
    border-radius: 37px;
}
#filters li>i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: 1,15rem;
    line-height: 74px;
    width: 74px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
}
#filters li {
    position: relative;
    z-index: 1;
    float: left;
    line-height: 66px;
    padding-left: 84px;
    border: none;
    margin: 0px 0px 40px 0px;
}

#filters p {
    clear: left;
    line-height: 40px;
}
#filters p>i {
    display: inline-block;
    line-height: 40px;
    width: 44px;
    font-size: 0,75rem;
    text-align: center;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    margin-right: 20px;
}
#filters a:hover {
    color: #0065FC;
    background-color: #DEEBFF;
    border: 4px solid #DEEBFF;
    box-shadow: 2px 2px 2px black;
}

/* most popular section styles */

/* accomodation section styles */

/* activities section styles */

/* footer styles */ 

/* media queries */