/******* FONTS *******/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/******* GLOBAL SETTINGS *******/

html {
  /* Set border-box as the global default */
  box-sizing: border-box;
}
*,
*::before,
*::after {
  /* Allow each element to override */
  box-sizing: inherit;
}
body {
  font-family: Raleway, Helvetica, sans-serif;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}

/******* HEADER *******/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
header img {
  max-width: 95px;
  height: auto;
}
nav {
  width: 25%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 100px;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;
}
nav li:hover {
  border-top: 2px solid #0065fc;
}
nav li:hover a {
  color: #0065fc;
  margin-top: -2px;
}

/******* MAIN *******/

main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1150px;
  margin: 0 auto;
}
main * {
  margin-top: 0;
  margin-bottom: 0;
}

/******* SEARCH BAR SECTION *******/

#search_bar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#search_bar h1 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
#search_bar p {
  margin: 8px 0;
}
#search_bar i,
#filters i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#search_bar form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 15px 0;
  height: auto;
}
#search_bar form label > i {
  background-color: #f2f2f2;
  font-size: 0.9rem;
  height: 44px;
  width: 44px;
  border-radius: 15px 0 0 15px;
}
#search_bar input,
#search_bar input::placeholder {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  opacity: 1;
}
#search_bar input {
  max-width: 250px;
  width: 100%;
  border-width: 2px 0;
  border-style: solid;
  border-color: #f2f2f2;
  line-height: 40px;
  padding: 0 0 0 15px;
}
#search_bar input:focus {
  outline: none;
}
#search_bar button {
  display: flex;
  outline: none;
  padding: 0;
  border: none;
  background-color: transparent;
}
#search_bar button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  border: none;
  padding: 0 14px;
}
#search_bar button:hover {
  cursor: pointer;
}
#search_bar button > i {
  display: none;
}

/******* FILTERS SECTION *******/

#filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
}
#filters h2,
#filters a {
  font-size: 1.1rem;
  font-weight: bold;
}
#filters h2 {
  margin-right: 25px;
}
#filters a {
  padding: 0 15px;
  color: inherit;
  line-height: 45px;
}
#filters ul {
  display: flex;
  flex-flow: row wrap;
  gap: 22px;
  margin: 15px 0px;
}
#filters li {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 21px;
  height: 45px;
}
#filters li:hover {
  border: none;
  padding: 3px;
  background-color: #deebff;
  color: #0065fc;
  font-size: 1.1rem;
}
#filters li > i {
  font-size: 1rem;
  border-radius: 50%;
  color: #0065fc;
  background-color: #deebff;
  height: 45px;
  width: 45px;
  margin-left: -4px;
}
#filters li:hover > i {
  background-color: #0065fc;
  color: #deebff;
}
#filters p {
  flex-basis: 100%;
  margin-top: 12px;
  margin-bottom: 25px;
}
#filters p > i {
  font-size: 0.9rem;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin-right: 15px;
}

/******* CARDS SECTIONS - COMMON FEATURES *******/

main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#accomodations,
#most_popular {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 25px 25px 15px;
}
#accomodations article,
#most_popular article {
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 2px 10px #e0e0e0;
}
#accomodations h2,
#most_popular h2,
#activities h2 {
  font-size: 1.25rem;
  font-weight: bold;
}
#accomodations h3,
#most_popular h3,
#activities h3 {
  font-size: 1rem;
  font-weight: bold;
}
#accomodations p,
#most_popular p {
  font-size: 0.875rem;
  margin: 5px 0;
}
#accomodations li,
#most_popular li {
  color: #f2f2f2;
}
.active {
  color: #0065fc;
}
#accomodations img,
#most_popular img,
#activities img {
  object-fit: cover;
}

/******* ACCOMODATIONS SECTION *******/

#accomodations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 65%;
}
#accomodations h2,
#accomodations > a {
  flex-basis: 100%;
}
#accomodations h2 {
  margin-bottom: 10px;
}
#accomodations > a {
  font-size: 1.1rem;
  font-weight: bold;
}
#accomodations article {
  flex-basis: 31%;
  margin-bottom: 25px;
}
#accomodations figure {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0;
}
#accomodations img {
  max-width: 100%;
  width: 100%;
  height: 105px;
  border-radius: 15px 15px 0 0;
}
#accomodations figcaption {
  display: flex;
  flex-flow: column wrap;
  padding: 10px 10px 0;
}
#accomodations ul {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}
#accomodations li {
  line-height: 1.5;
}

/******* MOST POPULAR SECTION  *******/

#most_popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 32%;
}
#most_popular h2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 25px;
}
#most_popular article {
  flex-basis: 100%;
  margin-bottom: 25px;
}
#most_popular figure {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
}
#most_popular img {
  width: 38%;
  min-width: 38%;
  height: 125px;
  border-radius: 15px 0 0 15px;
}
#most_popular figcaption {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 10px 5px;
}
#most_popular ul {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  margin-top: auto;
}

/******* ACTIVITIES SECTION *******/

#activities {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
#activities h2 {
  margin: 16px 0;
  width: 100%;
}
#activities div {
  height: 385px;
  width: 23%;
}
#activities a {
  display: block;
  height: 100%;
}
#activities figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 18px;
  box-shadow: 2px 2px 10px #e0e0e0;
}
#activities img {
  overflow-y: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 18px 18px 0 0;
}
#activities figcaption {
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding: 0 15px;
}
#activities div:nth-child(odd) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#activities div:nth-child(even) article {
  height: 100%;
}
#activities div:nth-child(3) article:first-child {
  height: 55%;
}
#activities div:nth-child(3) article:last-child {
  height: 36%;
}
#activities div:last-child article:first-child {
  height: 44%;
}
#activities div:last-child article:last-child {
  height: 47%;
}

/******* FOOTER *******/

footer {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 20px 0;
}
footer > div {
  display: flex;
  flex-direction: row;
  max-width: 1150px;
  margin: 0 auto;
}
footer > div > * {
  flex: 1 1 0;
}
footer h4 {
  font-size: 1.1rem;
  font-weight: bold;
}
footer a {
  line-height: 1.8;
}

/******* MEDIA QUERIES *******/

@media screen and (max-width: 1200px) {
  header,
  footer > div {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1200px) {
  main {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    margin: 30px auto;
  }
  nav {
    width: 100%;
  }
  nav li {
    flex-basis: 50%;
    border-bottom: 2px solid #f2f2f2;
  }
  nav li:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  nav li:hover a {
    margin-top: 0;
    
  }
  main > div {
    display: flex;
    flex-direction: column-reverse;
  }
  #most_popular {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  #accomodations {
    flex-basis: 100%;
  }
  #accomodations figcaption {
    padding-bottom: 10px;
  }
  #activities {
    flex-flow: column nowrap;
  }
  #activities div {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
  }
  #activities div:nth-child(odd) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #activities div article {
    height: 100%;
    min-height: 100%;
  }
  #activities div:nth-child(3) article:first-child {
    width: 58%;
  }
  #activities div:nth-child(3) article:last-child {
    width: 39%;
  }
  #activities div:last-child article:first-child {
    width: 47%;
  }
  #activities div:last-child article:last-child {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #accomodations article {
    flex-basis: 48%;
  }
  footer {
    margin-top: 20px;
  }
  footer > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    height: 75px;
  }
  #search_bar,
  #filters,
  #activities {
    padding-left: 25px;
    padding-right: 25px;
  }
  #search_bar button > span {
    display: none;
  }
  #search_bar button > i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    color: white;
    background-color: #0065fc;
    border-radius: 15px;
    border: none;
    height: 44px;
    width: 44px;
  }
  #most_popular {
    background-color: #f2f2f2;
    border-radius: 0;
  }
  #accomodations {
    background-color: inherit;
  }
  #accomodations article {
    flex-basis: 100%;
  }
  #activities {
    justify-content: flex-start;
  }
  #activities div:nth-child(odd) {
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 400px;
    max-height: 400px;
    margin-bottom: 40px;
  }
  #activities div:nth-child(odd) article {
    height: 50%;
    max-height: 50%;
    min-height: 50%;
  }
  #activities div:nth-child(3) article:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  #activities div:nth-child(3) article:last-child {
    width: 100%;
  }
  #activities div:last-child article:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
  #activities div:last-child article:last-child {
    width: 100%;
  }
}
